<!doctype html>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="javascript/useful_function.js"></script>
<script type="text/javascript" src="javascript/states.js"></script>

<script type="text/javascript">
    google.load('visualization', '1.0', {
        'packages': ['table']
    });
    google.setOnLoadCallback(loadResponse);

    /**
     * The function that is called when the Google Visualization libraries are
     * loaded. This function builds the queries to construct the drop-down
     * menu and the table.
     */
    var state = "{{state}}";
    var fullStateName = "{{fullStateName}}";

    function loadResponse() {
        var beach = ("{{beach}}" == "All Beaches") ? -1 : "{{beach}}";
        var query = new google.visualization.Query(createDataUrl("Master"));

        var selectQuery = new google.visualization.Query(createDataUrl("Master"));
        selectQuery.setQuery("Select A, C, F, G, H, I, J, L Where B = '" +
            state + "'");

        if (beach == -1) {
            query.setQuery("Select A, C, F, G, H, I, J, L Where B = '" + state +
                "' Order by A")
        } else {
            query.setQuery("Select A, C, F, G, H, I, J, L Where A = '" + beach +
                "' and B = '" + state + "' Order by A");
        }

        query.send(createTable);
        selectQuery.send(createSelect);
    }

    /**
     * Creates the table for the page. This table also calls the getTotals
     * function, that way the query only has to be sent once.
     *
     * @param response the results from the query
     */
    function createTable(response) {
        var lengthColumn = 4;
        var volumeColumn = lengthColumn + 1;
        var costColumn = volumeColumn + 1;
        var cost2010Column = costColumn + 1;

        if (response.isError()) {
            alert("Error in query: " + response.getMessage() + " " +
                response.getDetailedMessage());
            return;
        }

        var data = response.getDataTable();
        for (var i = 0; i < data.getNumberOfRows(); i++) {
            for (var j = 0; j < data.getNumberOfColumns(); j++) {
                data.setProperty(i, j, "style",
                    "text-align: left; font-family: \"san-serif\";"
                );
            }
        }
        if (data.getNumberOfRows() > 20) {
            var div = document.getElementById('table_container');
            div.style.overflow = 'auto';
            div.style.width = '880px';
            div.style.height = '450px';
        }
        var visualization = new google.visualization.Table(
            document.getElementById('data_table'));

        visualization.draw(data, {
            showRowNumber: true,
            allowHtml: true,
            cssClassNames: {
                headerRow: 'table-header'
            }
        });

        getTotals(data);
    }

    /**
     * Creates the selects (drop-down menu) on the page. This function is
     * called seperately from the createTable function because the data
     * required to construct the drop-down menu is different from teh data
     * needed for the table.
     *
     * @param response the results from the query
     */
    function createSelect(response) {
        if (response.isError()) {
            alert("Error in query: " + response.getMessage() + " " +
                response.getDetailedMessage());
            return;
        }

        var data = response.getDataTable();
        var beaches = new Array();
        var beachNames = data.getDistinctValues(0);

        for (var i = 0; i < beachNames.length; i++) {
            var beach = trim(beachNames[i]);
            if (beach.length > 0 &&
                (beaches.indexOf(beach) == -1)) {
                beaches.push(beach);
                var select = document.getElementById('perpage');
                var option = document.createElement('option');

                option.id = beach;
                option.text = beach;
                option.value = "beachtables?state={{state}}&beach=" +
                    beach;
                select.appendChild(option);
            }
        }
    }

    /**
     * Gets the totals of the beaches in the table. This function populates
     * an array that contains the totals for use later on.
     *
     * @param data the data received from query and formatted into a table
     */
    function getTotals(data) {
        var totals = new Object();
        totals.cost = 0;
        totals.cost2010 = 0;
        totals.episodes = 0;
        totals.len = 0;
        totals.volume = 0;

        var lengthColumn = 4;
        var volumeColumn = lengthColumn + 1;
        var costColumn = volumeColumn + 1;
        var cost2010Column = costColumn + 1;

        for (var i = 0; i < data.getNumberOfRows(); i++) {
            beach = trim(data.getValue(i, 0));
            if (beach == '{{beach}}') {
                totals.episodes++;
                totals.cost += data.getValue(i, costColumn);
                totals.cost2010 += data.getValue(i, cost2010Column);
                totals.len += data.getValue(i, lengthColumn);
                totals.volume += data.getValue(i, volumeColumn);
            }
        }

        document.getElementById('total_episodes').value =
            numberWithCommas(totals.episodes);
        document.getElementById('total_cost').value = '$' + numberWithCommas(
            Math.round(totals.cost));
        document.getElementById('total_2010cost').value = '$' +
            numberWithCommas(
                Math.round(totals.cost2010));
        document.getElementById('total_volume').value =
            numberWithCommas(totals.volume);
        document.getElementById('total_length').value =
            numberWithCommas(totals.len);
        document.getElementById('totals').style.visibility = 'visible';
    }
    //-->
</script>
<center>
    <h3>{{{beach}}}, {{{state}}}</h3>
</center>

<!--This is the links back to certain pages-->
<table cols="3" style="border-spacing: 10px 5px;" width="75%" align="center">
    <tr>
        <td>
            <a href="visual?state={{state}}&beach={{beach}}">Return</a> to the previous
            page
        </td>
        <td>
            <a href="oneState?state={{state}}">Return</a> to the State Map page
        </td>
        <td>
            <a href=".">Return</a> to the Home page
        </td>
    </tr>
</table>
<!--End of the links back to certain pages-->
<br /><br />


<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <!--This is the two select elements for beach and state-->

            <select id="perpage" onChange="if(this.value) window.location.href=this.value, '_top'">
                <option value="visual?state={{state}}?beach={{beach}}">
                    Select another beach
                </option>
                <option value="visual?state={{state}}">
                    All
                </option>
            </select>

            <br />

            <select name="states" id="states" onChange="window.open(this.options[this.selectedIndex].
                                                         value, '_top');">
                <option value=".">Select another state</option>
                <option value=".">Home</option>
                <option value="/oneState?state=AL">Alabama</option>
                <option value="/oneState?state=CA">California</option>
                <option value="/oneState?state=CT">Connecticut</option>
                <option value="/oneState?state=DE">Delaware</option>
                <option value="/oneState?state=FL">Florida</option>
                <option value="/oneState?state=GA">Georgia</option>
                <option value="/oneState?state=LA">Louisiana</option>
                <option value="/oneState?state=MA">Massachusetts</option>
                <option value="/oneState?state=MD">Maryland</option>
                <option value="/oneState?state=ME">Maine</option>
                <option value="/oneState?state=MS">Mississippi</option>
                <option value="/oneState?state=NC">North Carolina</option>
                <option value="/oneState?state=NJ">New Jersey</option>
                <option value="/oneState?state=NH">New Hampshire</option>
                <option value="/oneState?state=NY">New York</option>
                <option value="/oneState?state=RI">Rhode Island</option>
                <option value="/oneState?state=SC">South Carolina</option>
                <option value="/oneState?state=TX">Texas</option>
                <option value="/oneState?state=VA">Virginia</option>
                <option value="/oneState?state=WA">Washington</option>
            </select>
            <!--End of the two selects-->
        </div>
        <center>
        <div class="col-sm-6">
            <!--Table info-->
            <table cols="3" id="totals" style="visibility: hidden;">
                <tr>
                    <td align="right"><b>Beach Totals:</b></td>
                    <td width="150px"><font size="2px">Episodes:</font></td>
                    <td align="left">
                        <input type="text" id="total_episodes" class="textBox totals" size="15" readonly
                        />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><font size="2px">Cost:</font></td>
                    <td align="left">
                        <input type="text" id="total_cost" class="textBox totals" style="font-size: 12px; text-align: right;"
                            size="15" readonly />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><font size="2px">Cost (in 2014 dollars):</font></td>
                    <td align="left">
                        <input type="text" id="total_2010cost" class="textBox totals" style="font-size: 12px; text-align: right;"
                            size="15" readonly />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><font size="2px">Volume (cubic yards):</font></td>
                    <td align="left">
                        <input type="text" id="total_volume" class="textBox totals" style="font-size: 12px; text-align: right;"
                            size="15" readonly />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><font size="2px">Length (feet):</font></td>
                    <td align="left">
                        <input type="text" id="total_length" class="textBox totals" style="font-size: 12px; text-align: right;"
                            size="15" readonly />
                    </td>
                </tr>
            </table>
            <!--End of table info-->
        </div>
    </div>
</div>
</center>
<br /><br />
<center>
<!--This contains the table for the beachtables-->
<div id="table_container" class="table-container">
    <table style="border-spacing: 10px 5px; font-size: 12px;" rules="all" id="data_table">
    </table>
</div>
<!--End of the beachtables table-->
</center>
